Server/NPC/Roles/_Core/Components/Component_Sensor_Standard_Detection.json
Server/NPC/Roles/_Core/Components/Component_Sensor_Lost_Target_Detection.json
Server/NPC/Roles/_Core/Components/Component_Instruction_Intelligent_Chase.json
Server/NPC/Roles/_Core/Components/Component_Instruction_Combat_Back_Off.json
Server/NPC/Roles/_Core/Templates/Template_Predator.json
Server/NPC/Roles/_Core/Test_Set_State_From_Component.json
Server/NPC/Roles/_Core/Test_Component_Set_State.json
Server/NPC/Roles/_Core/Components/Selectors/Component_Instruction_Wild_Sleep_State.json
AGENTS.md

# Release pipeline
artifacts/
.tmp/

# IDE
.idea/
*.iml
*.DS_Store
Server/NPC/Spawn/World/.DS_Store
Server/NPC/Spawn/World/.DS_Store
Server/NPC/Spawn/World/Zone2/.DS_Store
Common/NPC/Pets/Cat/.DS_Store
Common/NPC/Pets/Cat/Models/.DS_Store
Server/NPC/Spawn/World/Zone3/.DS_Store
Server/NPC/Spawn/World/Zone2/.DS_Store
Server/Tamework/.DS_Store
.DS_Store
Common/NPC/Pets/Cat/Models/Celly(Excel_Lynt)/.DS_Store
